# Compiled and temporary files
__pycache__/
*.pyc
*.log
scratch/
.DS_Store
Thumbs.db

# Master Rubric (DO NOT EXPOSE)
rubric_tp*_master.json
*master.json

# Ignore all user deliveries locally except the README and keep file
entregas/*
!entregas/.gitkeep
!entregas/README.md
